.message-time{
    font-size: 75%;
    bottom: -.1em;
    line-height: 0;
}

.message-user{
    top: -.6em;
    line-height:16px;
    height:16px;
}

.btn-circle-sm{
    width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0;
    border-radius: 50%;
    font-size: 0.9rem
}

@media (min-width: 992px) {
    .modal-medium{
        max-width: 600px;
    }
}

.btn i{
    position: relative;
    top: -1.5px;
}