/*NEED TO SEPARATE !!!!!!!!!*/


/*-- General tags --*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
    height: 100%;
}

.page-container {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.page-container::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(234, 222, 231, 0.62);
}

.form-container {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
    opacity: 0.9;
    background: -webkit-linear-gradient(top, #0a0809fc, #757575);
    background: -o-linear-gradient(top, #0a0809fc, #757575);
    background: -moz-linear-gradient(top, #0a0809fc, #757575);
    background: linear-gradient(top, #0a0809fc, #757575);
}

.form-title {
    font-size: 35px;
    color: #fff;
    line-height: 3.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.form-input-container {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.24);
    margin-bottom: 30px;
}

.form-input {
    font-size: 21px;
    color: #fff;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 38px;
}

.form-input:focus {
    border-color: transparent;
}

.form-input:focus {
    padding-left: 5 px;
}

.form-input-icon {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.form-input-icon::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #fff;
}

.form-input-icon::after {
    font-size: 22px;
    color: #fff;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.form-input:focus+.form-input-icon::before {
    width: 100%;
}

.form-input:focus+.form-input-icon::after {
    top: -22px;
    font-size: 18px;
}


/*-- Create an account link --*/

.form-text {
    display: flex !important;
    margin-top: -1.75rem !important;
    width: 60%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

a {
    font-size: 15px;
    line-height: 1.5;
    color: #fff !important;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}


/*-- Input --*/

input {
    outline: none;
    border: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #fff;
}

input:-moz-placeholder {
    color: #fff;
}

input::-moz-placeholder {
    color: #fff;
}

input:-ms-input-placeholder {
    color: #fff;
}


/*-- Button --*/

button {
    outline: none;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.form-button-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.fas {
    color: #fff;
    padding: 15px 0px 0px 0px;
}


/*-- media --*/