<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Test application</title>
</head>
<body>
<div sec:authorize="!isAuthenticated()">
    <form th:action="@{/login}">
        <button type="submit" th:text="#{label.form.loginLink}">submit</button>
    </form>
    <form th:action="@{/registration}">
        <button type="submit" th:text="#{label.form.register}">submit</button>
    </form>
</div>
<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
</div>
<div sec:authorize="hasRole('ADMIN')">
    This content is only shown to administrators.
</div>
<div sec:authorize="hasRole('USER')">
    This content is only shown to users.
</div>
<div sec:authorize="isAuthenticated()">
    <form action="/logout">
        <input type="submit" value="Log out"/>
    </form>
</div>
</body>
</html>