<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Registration page</title>
</head>
<body>
<div class="container-fluid">
    <h1 th:text="#{label.form.title}"></h1>
    <form th:id="registration" action="/" th:object="${user}" method="POST" enctype="utf8">
        <div class="row justify-content-start">
            <div class="col" style="max-width: max-content">
                <label class="row no-gutters" th:text="#{label.user.login}">login</label>
                <label class="row no-gutters" th:text="#{label.user.firstName}">firstNane</label>
                <label class="row no-gutters" th:text="#{label.user.lastName}">lastName</label>
                <label class="row no-gutters" th:text="#{label.user.password}">password</label>
                <label class="row no-gutters" th:text="#{label.user.confirmPass}">confirm</label>
            </div>
            <div class="col" style="max-width: max-content">
                <input th:field="*{login}" required th:maxlength="15"/>
                <div class="w-100"></div>
                <input th:field="*{firstName}" required/>
                <div class="w-100"></div>
                <input th:field="*{lastName}" required/>
                <div class="w-100"></div>
                <input type="password" th:field="*{password}" required/>
                <div class="w-100"></div>
                <input type="password" th:field="*{matchingPassword}" required/>
            </div>
            <div class="col">
                <span id="loginError" style="display:none"></span>
                <span id="firstNameError" style="display:none"></span>
                <span id="lastNameError" style="display:none"></span>
                <span id="passwordError" style="display:none"></span>
            </div>
        </div>
        <button type="submit" th:text="#{label.form.submit}">submit</button>
        <span class="row alert-danger no-gutters" id="globalError" style="display:none; max-width: max-content"></span>
    </form>
</div>
<script th:inline="javascript">
    var serverContext = [[@{/}]];

        $(document).ready(function () {
            $('#registration').submit(function (event) {
                register(event);
            });

            $(":password").keyup(function () {
                if ($("#globalError:hidden").length !== 1) {
                    if ($("#password").val() != $("#matchingPassword").val()) {
                        $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
                    } else {
                        $("#globalError").hide().html("");
                    }
                }
            });
        });

        function register(event) {
            event.preventDefault();
            // $(".alert").html("").hide();
            // $(".error-list").html("");
            if ($("#password").val() != $("#matchingPassword").val()) {
                $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
                return;
            }
            var formData = $('form').serialize();
            $.post(serverContext + "registration", formData, function (data) {
                if (data.message == "success") {
                    window.location.href = serverContext + "successRegister.html";
                }

            })
                .fail(function (data) {
                    if (data.responseJSON.error.indexOf("MailError") > -1) {
                        window.location.href = serverContext + "emailError.html";
                    } else if (data.responseJSON.error == "UserAlreadyExist") {
                        $("#emailError").show().html(data.responseJSON.message);
                    } else if (data.responseJSON.error.indexOf("InternalError") > -1) {
                        window.location.href = serverContext + "login?message=" + data.responseJSON.message;
                    } else {
                        var errors = $.parseJSON(data.responseJSON.message);
                        $.each(errors, function (index, item) {
                            if (item.field) {
                                $("#" + item.field + "Error").show().append(item.defaultMessage + "<br/>");
                            } else {
                                $("#globalError").show().append(item.defaultMessage + "<br/>");
                            }

                        });
                    }
                });
        }


</script>
</body>
</html>