<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<head th:replace="headerReplacement :: headToReplace(title='Registration Page')"></head>
<head>

    <!--    -->
    <!--    Registration Page css -->
    <!--    -->
    <link rel="stylesheet" th:href="@{/static/css/signUp.css}">

    <!--    -->
    <!--    Password Confirmation without reloading the page-->
    <!--    -->
    <script th:src="@{/static/js/passwordConfirmation.js}"></script>

    <!--    -->
    <!--    Implementing the library zxcvbn for password strength check-->
    <!--    -->
    <script th:src="@{/static/js/zxcvbn.js}"></script>

    <!--    -->
    <!--    Password Strength check js-->
    <!--    -->
    <script th:src="@{/static/js/passwordStrengthCheck.js}"></script>

</head>

<body>
<header th:replace="headerReplacement :: headerToReplace"></header>

<main role="main" class="container-fluid bg">
    <div class="page-container">
        <div class="container sign-up-form-wrap">
            <form class="sign-up-form" method="POST" th:action="@{/registration}" id="registrationForm">

                    <!--                Form title-->
                    <span class="sign-up-form-title">
                        <img th:src="@{/static/images/icon.png}" class="img-fluid sign-up-form-logo" height="50px" width="50px">
                    Sign Up
                </span>

                <!--Username input-->
                <div class="form-group sign-up-form-input-wrap">
                    <label for="username" class="sr-only"> Username </label>
                    <input class="sign-up-form-input" type="text" name="username" placeholder="Username"
                           pattern="^(?=.{8,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$"
                           th:minlength="4" th:maxlength="15" required>
                    <span class="sign-up-form-input-focus" data-placeholder="">
                        <i class="fas fa fa-user"></i>
                    </span>
                </div>
                <!--First Name input-->
                <div class="form-group sign-up-form-input-wrap">
                    <label for="firstName" class="sr-only"> First Name </label>
                    <input class="sign-up-form-input" type="text" name="firstName" placeholder="First Name" required>
                </div>
                <!--Last Name input-->
                <div class="form-group sign-up-form-input-wrap">
                    <label for="lastName" class="sr-only"> Last Name </label>
                    <input class="sign-up-form-input" type="text" name="lastName" placeholder="Last Name" required>
                </div>
                <!--Password input-->
                <div class="form-group sign-up-form-input-wrap">
                    <label for="password" class="sr-only"> Password </label>
                    <input class="sign-up-form-input" id="password" type="password" name="password" placeholder="Password"
                           onkeyup="check()" value="" th:minlength="8" th:maxlength="30" required>
                    <span class="sign-up-form-input-focus" data-placeholder="">
                        <i class="fas fa fa-lock"></i>
                    </span>
                </div>
                <!--Password Confirmation input-->
                <div class="form-group sign-up-form-input-wrap">
                    <label class="sr-only">Confirm Password </label>
                    <input class="sign-up-form-input" id="confirm_password" type="password" name="confirm_password"
                           placeholder="Confirm Password" onkeyup="check()" required>
                    <span class="sign-up-form-input-focus" data-placeholder="">
                        <i class="fas fa fa-lock"></i>
                    </span>
                </div>


                <!--                    Button input-->
                <div class="form-group sign-up-form-btn-wrap">
                    <input type="submit" value="Register">
                </div>

                <!--Form note-->
                <div class="sign-up-form-note-wrap">
                        <span class="sign-up-form-note"> Already have an account?
                            <a th:href="@{/login}"> Sign in </a>
                        </span>
                </div>

            </form>

        </div>
    </div>

</main>

</body>
</html>