<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<head th:replace="headerReplacement :: headToReplace(title='Registration Page')"></head>
<head>

    <!--    -->
    <!--    Registration Page css -->
    <!--    -->
    <link rel="stylesheet" th:href="@{/static/css/signUp.css}">

    <!--    -->
    <!--    Password Confirmation without reloading the page-->
    <!--    -->
    <script th:src="@{/static/js/passwordConfirmation.js}"></script>

    <!--    -->
    <!--    Implementing the library zxcvbn for password strength check-->
    <!--    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>

    <!--    -->
    <!--    Password Strength check js-->
    <!--    -->
    <script th:src="@{/static/js/passwordStrengthCheck.js}"></script>

</head>

    <body>
        <header th:replace="headerReplacement :: headerToReplace"> </header>
        <main role="main" class="container">
            <div class="container">

                <form method="POST" th:action="@{/registration}" id="registrationForm">
                    <h2 class="form-title">Create account</h2>
                    <div class="form-group">
                        <label for="username"> Username: </label>
                        <input type="text" name="username" required
                               pattern="^(?=.{8,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$" th:minlength="4" th:maxlength="15"/>
                    </div>
                    <div class="form-group">
                        <label for="password"> Password: </label>
                        <input type="password" name="password" id="password" onkeyup="check()" required value=""
                               th:minlength="8" th:maxlength="30"/>    </div>
                        <meter max="4" id="password-strength-meter"></meter>
                        <p id="password-strength-text"></p>

                    <div class="form-group">
                        <label for="confirm"> Confirm password: </label>
                        <input type="password" name="confirm" id="confirm_password" onkeyup="check()"  required value=""/>
                        <span id="message"></span>
                    </div>

                    <div class="form-group">
                        <label for="firstName"> First name: </label>
                        <input type="text" name="firstName" required/>
                    </div>

                    <div class="form-group">
                        <label for="lastName"> Last name: </label>
                        <input type="text" name="lastName" required/>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Register"/>
                    </div>

                </form>
            </div>
        </main>

    </body>
</html>