<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Let Me Chat</title>
</head>

<body>
<h1>Register</h1>

<form method="POST" th:action="@{/registration}" id="registrationForm">

    <label for="username"> Username: </label>
    <input type="text" name="username"/>

    <label for="password"> Password: </label>
    <input type="password" name="password"/>

    <label for="confirm"> Confirm password: </label>
    <input type="password" name="confirm"/>

    <label for="firstName"> First name: </label>
    <input type="text" name="firstName"/>

    <label for="lastName"> Last name: </label>
    <input type="text" name="lastName"/>

    <input type="submit" value="Register"/>

</form>

</body>
</html>